In [6]:
import pandas as pd
bad = pd.read_csv('badwords/bad_words.txt', header=None)
bad.head(n=10)

    0  1  2  3          4
0 NaN  0  4  0       anus
1 NaN  0  4  0       arse
2 NaN  0  4  0   arsehole
3 NaN  0  4  0    asshole
4 NaN  0  4  0  axe-wound
5 NaN  0  4  0   axewound
6 NaN  0  4  0    bastard
7 NaN  0  4  0    basterd
8 NaN  0  4  0    bastird
9 NaN  0  4  0   blow job

In [8]:
strip = bad[4]
strip.to_csv('badwords.csv', index=False)

In [23]:
s = pd.read_csv('badwords/badwords.csv', header=None)
ss = pd.read_csv('badwords/en.txt', header=None)
sss =  pd.read_csv('badwords/full-list-of-bad-words-banned-by-google-txt-file_2013_11_26_04_53_31_867.txt', header=None)
z =  pd.read_csv('badwords/negative-words.txt', header=None)

In [17]:
s.head(n=10)

           0
0       anus
1       arse
2   arsehole
3    asshole
4  axe-wound
5   axewound
6    bastard
7    basterd
8    bastird
9   blow job

In [18]:
new = s.append(ss)

In [19]:
new.head(n=2)

      0
0  anus
1  arse

In [21]:
new = new.append(sss)

In [22]:
new.shape

(1218, 1)

In [24]:
new = new.append(z)

In [25]:
new.shape

(6001, 1)